<a href="https://colab.research.google.com/github/niranj14/ict_assignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python function to find the Max of three numbers

In [ ]:
def maximum(x,y,z):
    if(x>y):
        if(x>z):
            return x
        else:
            return z
    else:
        if(y>z):
            return y
        else:
            return z
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input('enter the third number'))
maximum(a,b,c)

enter the first number3
enter the second number2
enter the third number1

3

Write a Python function to sum all the numbers in a list.

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers

l = [1, 2, 3, 4, 5]
print(sum_list(l))

15

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers

print(sum_list(l))

15

Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [4]:

l=[10,20,30,40]
n=int(input("enter no to be inserted:"))
m=int(input("emter possiton to be inserted(index)"))
if 0<=m<=len(l):

  l.insert(m,n)
  print(l)
else:
  print("invalid index")

enter no to be inserted:11
emter possiton to be inserted(index)2
[10, 20, 11, 30, 40]

Write a program to rename a key city to a location in the following dictionary. sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [5]:
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
sample_dict["location"] = sample_dict.pop("city")
print("Updated dictionary:", sample_dict)

Updated dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.
sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [7]:
sample_dict = {'emp1': {'name': 'Jhon', 'salary': 7500},
               'emp2': {'name': 'Emma', 'salary': 8000},
               'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print("Updated dictionary:", sample_dict)

Updated dictionary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Write a program to copy elements 44 and 55 from the following tuple into a new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [12]:
tuple1 = (11, 22, 33, 44, 55, 66)
new_tuple = tuple1[3:5]
print("New tuple:", new_tuple)

New tuple: (44, 55)

Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50,83,567,50,81

In [13]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print("Number of occurrences of 50:", count)

Number of occurrences of 50: 3